<h3><%= t('.title', first_name: @person.first_name, last_name: @person.last_name) %></h3>

<%= render 'form', person: @person %>

<%= link_to t('g.show'), @person, class: 'btn btn-sm btn-outline-warning' %> 
<%= link_to t('g.back'), people_path, class: 'btn btn-sm btn-outline-secondary' %>
