<h3><%= t('tasks.edit.title')%></h3>

<%= render 'form', task: @task %>

<%= link_to t('g.show'), @task, class:'btn btn-sm btn-warning' %> |
<%= link_to t('g.back'), tasks_path, class: 'btn btn-sm btn-secondary' %>
