<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EMPRESA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a> <%= link_to "Departamentos", departments_url, class: 'nav-link' if can? :show, Department %> </a>
        <a> <%= link_to "Empleados", people_url, class: 'nav-link' if can? :index, Person %> </a>
        <a> <%= link_to "Tareas", tasks_url, class: 'nav-link' if can? :manage, Task %> </a>
        <a href="/administrators">HOLAAAAA ADMINISTRADORES</a>
        <a>
          <%#= link_to "Administradores", administrators_url, class: 'nav-link' if can? :index, :administrator %>
        </a>
        <!-- <a class="nav-link">
          <%# if user_signed_in? %>
            <%#= link_to "Tareas", tasks_url, class:'nav-link' %>
          <%# else %>
            <%#= link_to "Tareas", "#", class: 'nav-link disabled' %>
          <%# end %>
        </a>
        -->
        <%= render 'shared/user_menu' %>
      </div>
    </div>
  </div>
</nav>
