<h3><%=t('departments.edit.title')%></h3>

<%= render 'form', department: @department %>

<%= link_to t('g.show'), @department, class:'btn btn-sm btn-outline-warning' %>
<%= link_to t('g.back'), departments_path, class: 'btn btn-sm btn-outline-secondary' %>
